@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300&family=Quintessential&family=Raleway:wght@200&family=Roboto:wght@100;400&family=Supermercado+One&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 5s ease-in;
  transition: opacity 5s ease-in;
  color: white;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}

.header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  padding: 1%;
  border-bottom: 1px solid rgba(160, 160, 160, 0.397);
  background-color: rgba(0, 0, 0, 0.9);
}

.header h1,
.header .logo,
.header .burger-menu {
  margin: auto;
}

.header .burger-container.burger-active :last-child {
  -webkit-transform: translateY(-15px) rotate(900deg);
          transform: translateY(-15px) rotate(900deg);
}

.header .burger-container.burger-active :first-child {
  -webkit-transform: translateY(25px) rotate(900deg);
          transform: translateY(25px) rotate(900deg);
}

.header .burger-menu nav {
  margin-top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 3%;
  left: 90%;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  z-index: 3;
}

.header .burger-menu nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header .burger-menu img {
  padding-top: 5px;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.main {
  padding-right: 12%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  z-index: 0;
  padding: 5% 0 0 5%;
  background-color: rgba(0, 0, 0, 0.9);
}

.main .track-list-cont {
  position: fixed;
  top: 25%;
  padding: 0 0 0 5%;
  margin-left: 70%;
  z-index: 1;
}

.main .track-list-cont li {
  padding-top: 1.5%;
}

.main .introdaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4% 0;
  margin-right: 30%;
  gap: 2em;
}

.main .introdaction .introdaction-cont {
  text-align: center;
}

.main .introdaction .random-image-cont {
  width: 70%;
  height: 30em;
}

.main .introdaction .random-image-cont img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-box-shadow: 6px 6px 15px black;
          box-shadow: 6px 6px 15px black;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-animation-name: random-img-opacity;
          animation-name: random-img-opacity;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes random-img-opacity {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes random-img-opacity {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main .music-playlists {
  margin: 5% 30% 0 0;
}

.main .music-playlists .playlists-rock-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4% 0;
  gap: 5%;
}

.main .music-playlists .playlists-rock-cont .playlist {
  width: 21.2%;
}

.main .music-playlists .playlists-rock-cont .playlist .album-cover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-bottom: 6%;
}

.main .music-playlists .playlists-rock-cont .playlist .album-cover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .music-playlists .playlists-rap-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4% 0;
  gap: 5%;
}

.main .music-playlists .playlists-rap-cont .playlist {
  max-width: 21.2%;
}

.main .music-playlists .playlists-rap-cont .playlist .album-cover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-bottom: 6%;
}

.main .music-playlists .playlists-rap-cont .playlist .album-cover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  background-color: #0c0f0c;
  color: #979494;
  max-width: 100%;
  border-top: 1px solid rgba(160, 160, 160, 0.397);
  z-index: 2;
}

.footer .footer-info {
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-info .best-project .still-best-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
  margin-top: 5%;
}

.footer .footer-info .best-project .still-best-project .btn-yes {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1cec14), color-stop(51%, #00f552), to(#2ad632c2));
  background-image: linear-gradient(to right, #1cec14 0%, #00f552 51%, #2ad632c2 100%);
  letter-spacing: 2px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 3.5em;
}

.footer .footer-info .best-project .still-best-project .btn-gl {
  background-color: red;
}

.footer .footer-info ul {
  max-height: 5em;
  width: 12.5em;
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

.footer .footer-info ul li {
  margin: 3% 0 0 0;
}

.footer .footer-info ul li a {
  text-decoration: none;
  color: white;
  color: #979494;
  font-size: 14px;
}

.footer .footer-info ul li a:hover {
  color: #850b0b;
  font-size: 16px;
}

.footer .footer-end {
  font-size: 12px;
  text-align: center;
  margin: 2% 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000000;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 7.8s opacity;
  transition: 7.8s opacity;
}

.loaded .preloader {
  display: none;
}
/*# sourceMappingURL=style.css.map */